extends ../../layout.pug

block content
	include ../../parts/nav.pug
	include ../../parts/menu.pug

	div(class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16")
		+menu(false, false, false, false, true, false, false)
		div(class="w-full lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal bg-white border border-gray-400 border-rounded shadow-xl flex flex-wrap flex-col")
			p(class="px-2 w-full mb-4 font-bold text-gray-500") Selecciona el tipo de evento que quieres crear
			.px-2.mt-4.w-full.flex.items-center.justify-center
				a( href="/admin/eventos/mirador/crear" class="custom-button-admin hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", type="submit") Crear Mirador
			.px-2.mt-4.w-full.flex.items-center.justify-center
				a( href="/admin/eventos/regular/crear" class="custom-button-admin hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", type="submit") Crear Evento
