nav#header.fixed.w-full.z-10.top-0.bg-white.border-b.border-gray-400
	.w-full.container.mx-auto.flex.flex-wrap.items-center.justify-between.mt-0.py-2
		.pl-4.flex.items-center
			img.logo-nav-admin(src="/public/images/logos/cetro-logo.svg", alt="Cetro Logo")
		.w-full.flex-grow(class="lg:flex lg:content.center lg:items-center lg:w-auto lg:block lg:mt-0 z-20 hidden")
			.flex-1.w-full.mx-auto.max-w-sm.content-center.py-4(class="lg:py-0")
				div(class="relative pull-right pl-4 pr-4 md:pr-0")
			div(class="flex relative inline-block float-right")
				div(class="relative text-sm")
					button.user-intel(class="flex items-center focus:outline-none mr-3")
						<svg class="w-5 h-5 rounded-full mr-2 user-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-user" viewBox="0 0 24 24"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
						span(class="hidden md:inline-block")=user.name
						<svg class="pl-2 h-2" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"></path></g></svg>
						span.floating-block.opacity-0.pointer-events-none
							ul
								li
									a(href="/") Ver el Sitio
								li
									a(href="/logout") Cerrar Sesión